/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-portfolio-testimonial {

    .testimonial {
    
        &__content {
            width: 100%;
    
            p {
                margin-bottom: 20px;
    
                &:last-of-type {
                    margin-bottom: 50px;
    
                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
