/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-portfolio-heading-content {
    padding: 30px 0;

    .medium-inner {
        display: flex;
        flex-flow: row wrap;
    }
}

.heading-content {

    .heading-content-inner {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        max-width: 1200px;
        width: 100%;
    }

    &__heading {
        width: 50%;
    }

    &__content {
        width: 50%;
    }
}
