/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .wp-block-portfolio-blurb {

    .blurb-inner {
        position: relative;
        z-index: 1;
    }
    
    .background {
        pointer-events: none;
        position: absolute;
        top: -14px;
        right: -100vw;
        bottom: -14px;
        left: -100vw;
        z-index: 0;
    }
}
