/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-portfolio-blurb {

    .blurb {
    
        &__content {
            width: 100%;
    
            h2 {
    
                .intro-heading {
                    margin-bottom: 12px;
                    text-transform: uppercase;
                }
            }
    
            p {
                margin-bottom: 20px;
    
                &:last-of-type {
                    margin-bottom: 50px;
    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            blockquote {

                p {
                    margin-bottom: 30px;
        
                    &:last-of-type {
                        margin-bottom: 30px;
        
                        &:last-child {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}
