/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-portfolio-blocks-work {

    .work {

        &__image {
            margin-bottom: 0;
            margin-top: 40px;

            .components-button {
                position: absolute;
                top: -40px;
                right: 0;
                left: 6%;
                margin: auto;
            }

            &__screenshot {
                background-color: #F3F3F4;
            }
        }
    }
}
