/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.hero {
    height: auto;
    min-height: auto;
}

.ranking {
	margin-bottom: 0;
}