/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.hero {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	height: calc(100vh - 200px);
	min-height: 400px;
	position: relative;
	width: 100%;
	z-index: 1;


	p {

		&:last-of-type {
			margin-bottom: 50px;
		}
	}
}

.ranking {
	height: 120px;
	width: 100%;
}
